/*Index.HTML*/
body{
	height: 100%;
}

.container{
	max-width: 960px;
}

#sub-container{
	background-image: url("../images/seigaiha.png");
	min-height: 100%;
	padding-bottom: 5%;
}

.awesome-header{
	font-family: 'Georgia', Times, Times New Roman, serif;
	display: inline-block;
	background-color: white;
	border-bottom: 2px solid #ccc;
	width: 100%;
}

.header-container{
	width: 23%;
}

.name{
	background-color: #4aaaa5;
	font-size: 1.8em;
	color: white;
	margin-left: 7%;
	padding: 15px;
	text-align: center;
}

#navcontainer{
	float: right;
	color:#777;
	margin-top: -35px;
}

hr{
	width: 90%;
	height: 3px;
	background-color: #dfdfdf;
	border: 0;
}
#navlist{
	
}

#navlist li{
	display: inline;
    border-right: 1px solid #777;
    padding: 0 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#navlist li a {
	text-decoration: none;
	color: #777;
}

#navlist li a:hover{
	text-decoration: underline;
	color: #ccc;
	-webkit-animation-name: bounce; 
    animation-name: bounce; 
}

#navlist li:last child{
	border-right: 0px; /*not working*/
}

#main-content{
	display: inline-block;
	overflow:auto;
	background-color: white;
	max-width: 650px;
	margin-left: 7%;
	margin-top: 3%;
}

.info{

}

/*about me*/
h2{
	background-color: white;
	padding: 20px 0px 0px 0px;
	color: #4aaaa4;
	font-weight: bolder;
	font-size: 1.5em;
	margin-top: 2%;
	margin-left: 5%;
}

.info img{
	max-height: 200px;
	max-width: 200px;
	margin-left: 5%;
	margin-top: 2%;
	margin-right: 2%;
	float:left;
}

p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding: 10px;
}

.connect-with-me{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bolder;
	background-color: white;
	float: right;
	margin-top: 3%;
	margin-right: 2%;
	padding: 20px;
}

.connect-with-me-line{
	height: 1px solid;
	width: 100%;
}

h3{
	color: #4aaaa4;
	font-weight: bolder;
	font-size: 1.1em;
}

#connect-icons{
	padding: 60px;
}

#connect-icons img{
	height: 50px;
	width: 50px;
}

footer{
	clear: both;
	border-top: 4px solid #4aaaa5;
	background-color: #666;
	text-align: center;
	font-size: .6em;
	color: #999;
	padding: 24px;
}

/*CONTACT.HTML SPECIFIC*/
#contact-box{
	background-color: white;
	max-width: 650px;
	margin-left: 7%;
	margin-top: 3%;
}

.info{
	font-weight: bolder;
	font-size: 1.5em;
}

#inputbox{
	margin-left: 5%;
}

form{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}

form input{
	width: 95%;
	height: 24px;
	margin-bottom: 20px;
	margin-top: 5px;
	line-height: 12px;
	color: #ccc;
}

.connect-with-me-c{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bolder;
	background-color: white;
	padding: 20px;
	float: right;
	margin-top: -54.6%;
	margin-right: 2%;
	padding: 20px;
}

.submit{
	height: 40px;
	width: 18%;
	background-color: #4aaaa5;
	color: white;
	font-size: 16px;
	border: 0;
}

textarea{
	width: 95%;
	height: 150px;
	margin-top: 5px;
}

/*PORTFOLIO.HTML SPECIFIC*/
#portfolio{
	background-color: white;
	max-width: 650px;
	margin-left: 7%;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.hangman{
	position: relative;
	margin-left: 5%;
	margin-right: 10%;
	float: left;
}

.hangman p{
	position: absolute;
	left: 0;
	bottom: 5%;
	color: white;
	height: 25px;
	padding: 20px;
	width: 84.6%;
	background: #4aaaa5;
	text-align: center;
}

.rpg{
	position: relative;
}

.rpg-text{
	position: absolute;
	right: 5%;
	bottom: 5%;
	color: white;
	height: 25px;
	padding: 20px;
	width: 33.845%;
	background: #4aaaa5;
	text-align: center;
}

.trivia{
	clear:both;
	position: relative;
	margin-left: 5%;
	margin-right: 10%;
	float: left;
}

.trivia-text{
	position: absolute;
	left: 0;
	bottom: 5%;
	color: white;
	height: 25px;
	padding: 20px;
	width: 84.6%;
	background: #4aaaa5;
	text-align: center;
}

.rutgers{
	position: relative;
}

.rutgers-text{
	position: absolute;
	right: 5%;
	bottom: 5%;
	color: white;
	height: 25px;
	padding: 20px;
	width: 33.845%;
	background: #4aaaa5;
	text-align: center;
}

.rps{
	clear:both;
	position: relative;
	margin-left: 5%;
	margin-right: 10%;
	float:left;
}

.rps-text{
	position: absolute;
	left: 0;
	bottom: 5%;
	color: white;
	height: 25px;
	padding: 20px;
	width: 84.6%;
	background: #4aaaa5;
	text-align: center;
}

.hangman-text,
.rpg-text,
.trivia-text,
.rutgers-text,
.rps-text{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.connect-with-me-p{
	clear: both;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bolder;
	background-color: white;
	padding: 20px;
	float: right;
	margin-top: -74.4%;
	margin-right: 2%;
	padding: 20px;
}

.clearboth{
	clear:both
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px){
	#sub-container{
		background-image:none;
	}
} 